.form {
    display: grid;
    grid-template-columns: 10rem 20rem;
    gap: 0.5rem;
}

.form label {
    grid-column: 1;
    text-align: right;
}

.form input:not(.form input[type="submit"]) {
    grid-column: 2;
}

.form input[type="submit"] {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 4rem;
    padding: 0.5rem 1rem;
}
